# 依赖
node_modules
.pnpm-store

# 构建
dist
build

# 环境变量
.env
.env.*
!.env.example

# 日志
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE和编辑器
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 操作系统
.DS_Store
Thumbs.db

# 测试
coverage 